.button {
  padding: 11px 26px 11px 26px;
  background: #0D99FF;
  border-radius: 50px;
  margin-top: 67px;
  font-weight: 700;
  font-size: 24px;
  line-height: 136.02%;
  color: #FFFFFF;
  transition: .5s;

  &:hover {
    box-shadow: 0 0 20px #0d99ff;
    background-color: #011a2c;
    cursor: pointer;
    color: #0d99ff;
  }
}