.container {
  max-width: 1152px;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;

  &__logo:hover {
    cursor: pointer;
  }

  &__search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 192px;
    height: 40px;
    border: 1px solid #666666;
    border-radius: 4px;
    background-color: white;

    input {
      max-width: 153px;
      height: 40px;
      padding: 8px;
      border: none;

      &::placeholder {
        color: #CCCCCC;
        font-size: 16px;
      }

      &:active {
        border: none;
      }
    }

    img {
      width: 18px;
      height: 19px;
      margin:0 16px 0 5px;
    }
  }


  p {
    position: relative;
    line-height: 1;
    color: white;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;

    &:after {
      display: block;
      position: absolute;
      left: 0;
      width: 0;
      height: 3px;
      background-color: #0d99ff;
      content: "";
      transition: width 0.3s ease-out;
      margin-top: 7px;
    }


    &:hover:after,
    &:focus:after {
      width: 100%;
    }
  }
}

