.mainContent {
  margin-top: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  h3 {
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    margin: 0;
    cursor: none;
  }

  &__blocks {
    max-width: 1152px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 56px;

    &_block {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 43px;

      &:hover {
        cursor: pointer;
      }

      img {
        border-radius: 50%;
        transition: .8s;
      }

      &:hover img {
        box-shadow: 0 0 35px #0d99ff;
      }

      &::after {
        display: block;
        position: absolute;
        left: 0;
        width: 0;
        bottom: 0;
        height: 3px;
        background-color: #0d99ff;
        content: "";
        transition: width 0.3s ease-out;
        margin-top: 7px;
      }


      &:hover:after,
      &:focus:after {
        width: 100%;
      }

      p {
        font-weight: 700;
        font-size: 24px;
        color: #FFFFFF;
        width: 190px;
        text-align: center;


      }
    }
  }
}